@{
    ViewData["Title"] = "Home Page";
}

<!-- Music Section -->
<!--This is the About section-->
<section id="music" class="container-fluid">
    
    <div class="container-fluid">
                <h2 class="section-header text-center">Music</h2>
    </div>
</section>
<section class="container-fluid">

</section>